/* Geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    color: #ffffff;
    background-color: #6C2815;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: bold;
}

header .logo img {
    max-height: 80px;
    width: auto;
}

header nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

/* Estilo para a área de login */
#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 50px auto;
}

#login h2 {
    color: #DA421E;
    margin-bottom: 20px;
    font-weight: bold;
}

label {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #DA421E;
    outline: none;
}

button {
    background-color: #E39E2B;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #C1771D;
}

button:active {
    background-color: #9a5e16;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

footer {
    text-align: center;
    background-color: #6C2815;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.erro {
    margin-top: 20px;
    font-weight: bold;
}
